<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Blocitoff", welcome_index_path, class: 'navbar-brand' %>
      </div>
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if current_page?(welcome_index_path) %>"><%= link_to "Home", welcome_index_path %></li>
        <% if user_signed_in? %>
          <li class="<%= 'active' if current_page?(user_path(current_user.id)) %>"><%= link_to "My List", user_path(current_user.id) %></li>
        <% end %>
        <li class="<%= 'active' if current_page?(welcome_about_path) %>"><%= link_to "About", welcome_about_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Hello, ' + current_user.email, user_path(current_user.id), :class => 'navbar-link' %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-cog"></span> Edit Profile'.html_safe, edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-log-out"></span> Sign Out'.html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
        <% else %>
          <li><%= link_to '<span class="glyphicon glyphicon-user"></span> Sign Up'.html_safe, new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to '<span class="glyphicon glyphicon-log-in"></span> Login'.html_safe, new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>
  </div>
</nav>

<%= yield %>

</body>
</html>
